---
import { getCollection, CollectionEntry } from 'astro:content'

import PostCard from '../components/PostCard.astro'
import Layout from '../layouts/Layout.astro'

// Get all entries from a collection. Requires the name of the collection as an argument.
const posts: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .filter((post) => post.data.draft === false)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

await Promise.all(
  posts.map(async (post) => {
    const { remarkPluginFrontmatter } = await post.render()
    post.data.minutesRead = remarkPluginFrontmatter.minutesRead
    return post
  })
)
---

<Layout title="Welcome to Astro">
  <div class="container-inner mx-auto py-16">
    <PostCard posts={posts} />
  </div>
</Layout>
