---
const { paginate } = Astro.props
const { currentPage, size } = paginate
const { next, prev } = paginate.url

const showPreviousPag = currentPage !== 1
const showNextPage = currentPage !== size
---

<div class="flex justify-between text-xl items-center">
  <a href={prev && prev} class:list={['', { 'not-active': !showPreviousPag }]}
    >&larr; Prev</a
  >
  <div class="text-base">Page {currentPage} of {size}</div>
  <a href={next && next} class:list={['', { 'not-active': !showNextPage }]}
    >Next &rarr;</a
  >
</div>

<style>
  .not-active {
    @apply cursor-not-allowed text-gray-400 hover:text-gray-400;
  }
</style>
